# Project exclude paths
/cmake-build-debug/
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/openal32.dll
build/test.exe
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-187e33fff62d41a95e81.json
build/.cmake/api/v1/reply/codemodel-v2-56ab7acc73838b94086b.json
build/.cmake/api/v1/reply/index-2020-07-08T07-40-06-0857.json
build/.cmake/api/v1/reply/target-test-Debug-36ccba088af6e271d6ee.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.16.19112601-MSVC_2/CMakeCCompiler.cmake
build/CMakeFiles/3.16.19112601-MSVC_2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.16.19112601-MSVC_2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.16.19112601-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.16.19112601-MSVC_2/CMakeRCCompiler.cmake
build/CMakeFiles/3.16.19112601-MSVC_2/CMakeSystem.cmake
build/CMakeFiles/3.16.19112601-MSVC_2/CompilerIdC/a.exe
build/CMakeFiles/3.16.19112601-MSVC_2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.16.19112601-MSVC_2/CompilerIdCXX/a.exe
build/CMakeFiles/3.16.19112601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/test.dir/build.make
build/CMakeFiles/test.dir/cmake_clean.cmake
build/CMakeFiles/test.dir/CXX.includecache
build/CMakeFiles/test.dir/depend.internal
build/CMakeFiles/test.dir/depend.make
build/CMakeFiles/test.dir/DependInfo.cmake
build/CMakeFiles/test.dir/flags.make
build/CMakeFiles/test.dir/includes_CXX.rsp
build/CMakeFiles/test.dir/link.txt
build/CMakeFiles/test.dir/linklibs.rsp
build/CMakeFiles/test.dir/objects.a
build/CMakeFiles/test.dir/objects1.rsp
build/CMakeFiles/test.dir/progress.make
build/CMakeFiles/test.dir/src/main.cpp.obj
build/CMakeFiles/test.dir/src/BaseClasses/Component.cpp.obj
build/CMakeFiles/test.dir/src/BaseClasses/Entity.cpp.obj
build/CMakeFiles/test.dir/src/Components/Animation.cpp.obj
build/CMakeFiles/test.dir/src/Components/Aura.cpp.obj
build/CMakeFiles/test.dir/src/Components/CircleShape.cpp.obj
build/CMakeFiles/test.dir/src/Components/EnergyCore.cpp.obj
build/CMakeFiles/test.dir/src/Components/Gun.cpp.obj
build/CMakeFiles/test.dir/src/Components/Health.cpp.obj
build/CMakeFiles/test.dir/src/Components/Healthbar.cpp.obj
build/CMakeFiles/test.dir/src/Components/Hitbox.cpp.obj
build/CMakeFiles/test.dir/src/Components/InvisibiltyMode.cpp.obj
build/CMakeFiles/test.dir/src/Components/KeyboardMover.cpp.obj
build/CMakeFiles/test.dir/src/Components/LinearMover.cpp.obj
build/CMakeFiles/test.dir/src/Components/MouseOver.cpp.obj
build/CMakeFiles/test.dir/src/Components/ParticleEffect.cpp.obj
build/CMakeFiles/test.dir/src/Components/RandomMover.cpp.obj
build/CMakeFiles/test.dir/src/Components/SimpleSprite.cpp.obj
build/CMakeFiles/test.dir/src/Components/Split.cpp.obj
build/CMakeFiles/test.dir/src/Components/Text.cpp.obj
build/CMakeFiles/test.dir/src/Components/Transform.cpp.obj
build/CMakeFiles/test.dir/src/Engine/StateMachine/State.cpp.obj
build/CMakeFiles/test.dir/src/Engine/StateMachine/Statemachine.cpp.obj
build/CMakeFiles/test.dir/src/Entities/Button.cpp.obj
build/CMakeFiles/test.dir/src/Entities/Coins.cpp.obj
build/CMakeFiles/test.dir/src/Entities/Enemy.cpp.obj
build/CMakeFiles/test.dir/src/Entities/Planet.cpp.obj
build/CMakeFiles/test.dir/src/Entities/Player.cpp.obj
build/CMakeFiles/test.dir/src/Entities/PowerUp.cpp.obj
build/CMakeFiles/test.dir/src/Entities/SimpleText.cpp.obj
build/CMakeFiles/test.dir/src/Entities/SpaceBackground.cpp.obj
build/CMakeFiles/test.dir/src/Entities/SpaceShip.cpp.obj
build/CMakeFiles/test.dir/src/Entities/Sprite.cpp.obj
build/CMakeFiles/test.dir/src/Entities/ToggleList.cpp.obj
build/CMakeFiles/test.dir/src/Entities/TriggerableButton.cpp.obj
build/CMakeFiles/test.dir/src/States/MainGame.cpp.obj
build/CMakeFiles/test.dir/src/States/Settings.cpp.obj
build/CMakeFiles/test.dir/src/States/StartupScreen.cpp.obj
build/CMakeFiles/test.dir/src/States/TestState.cpp.obj
build/CMakeFiles/test.dir/src/support/color_loader.cpp.obj
build/CMakeFiles/test.dir/src/support/ShittyRandom.cpp.obj
build/data/database.db
build/data/AnimationAtlas/asteroid_grey_atlas.png
build/data/AnimationAtlas/coins_bronze_atlas.png
build/data/AnimationAtlas/coins_gold_atlas.png
build/data/AnimationAtlas/coins_silver_atlas.png
build/data/AnimationAtlas/explosion.png
build/data/AnimationAtlas/ships.png
build/data/Background/space-1.png
build/data/Bullets/laserBlue01.png
build/data/Bullets/laserBlue02.png
build/data/Bullets/laserBlue03.png
build/data/Bullets/laserBlue04.png
build/data/Bullets/laserBlue05.png
build/data/Bullets/laserBlue06.png
build/data/Bullets/laserBlue07.png
build/data/Bullets/laserBlue08.png
build/data/Bullets/laserBlue09.png
build/data/Bullets/laserBlue10.png
build/data/Bullets/laserBlue11.png
build/data/Bullets/laserBlue12.png
build/data/Bullets/laserBlue13.png
build/data/Bullets/laserBlue14.png
build/data/Bullets/laserBlue15.png
build/data/Bullets/laserBlue16.png
build/data/Bullets/laserGreen01.png
build/data/Bullets/laserGreen02.png
build/data/Bullets/laserGreen03.png
build/data/Bullets/laserGreen04.png
build/data/Bullets/laserGreen05.png
build/data/Bullets/laserGreen06.png
build/data/Bullets/laserGreen07.png
build/data/Bullets/laserGreen08.png
build/data/Bullets/laserGreen09.png
build/data/Bullets/laserGreen10.png
build/data/Bullets/laserGreen11.png
build/data/Bullets/laserGreen12.png
build/data/Bullets/laserGreen13.png
build/data/Bullets/laserGreen14.png
build/data/Bullets/laserGreen15.png
build/data/Bullets/laserGreen16.png
build/data/Bullets/laserRed01.png
build/data/Bullets/laserRed02.png
build/data/Bullets/laserRed03.png
build/data/Bullets/laserRed04.png
build/data/Bullets/laserRed05.png
build/data/Bullets/laserRed06.png
build/data/Bullets/laserRed07.png
build/data/Bullets/laserRed08.png
build/data/Bullets/laserRed09.png
build/data/Bullets/laserRed10.png
build/data/Bullets/laserRed11.png
build/data/Bullets/laserRed12.png
build/data/Bullets/laserRed13.png
build/data/Bullets/laserRed14.png
build/data/Bullets/laserRed15.png
build/data/Bullets/laserRed16.png
build/data/Bullets/spaceMissiles_001.png
build/data/Bullets/spaceMissiles_002.png
build/data/Bullets/spaceMissiles_003.png
build/data/Bullets/spaceMissiles_004.png
build/data/Bullets/spaceMissiles_005.png
build/data/Bullets/spaceMissiles_006.png
build/data/Bullets/spaceMissiles_007.png
build/data/Bullets/spaceMissiles_008.png
build/data/Bullets/spaceMissiles_009.png
build/data/Bullets/spaceMissiles_010.png
build/data/Bullets/spaceMissiles_011.png
build/data/Bullets/spaceMissiles_012.png
build/data/Bullets/spaceMissiles_013.png
build/data/Bullets/spaceMissiles_014.png
build/data/Bullets/spaceMissiles_015.png
build/data/Bullets/spaceMissiles_016.png
build/data/Bullets/spaceMissiles_017.png
build/data/Bullets/spaceMissiles_018.png
build/data/Bullets/spaceMissiles_019.png
build/data/Bullets/spaceMissiles_020.png
build/data/Bullets/spaceMissiles_021.png
build/data/Bullets/spaceMissiles_022.png
build/data/Bullets/spaceMissiles_023.png
build/data/Bullets/spaceMissiles_024.png
build/data/Bullets/spaceMissiles_025.png
build/data/Bullets/spaceMissiles_026.png
build/data/Bullets/spaceMissiles_027.png
build/data/ColorPalettes/dark_purple.color
build/data/ColorPalettes/harmonic.color
build/data/ColorPalettes/harmonic2.color
build/data/ColorPalettes/joy.color
build/data/ColorPalettes/mk1.color
build/data/Drops/powerupRed_bolt.png
build/data/Drops/shield_silver.png
build/data/Enemies/meteorBrown_big3.png
build/data/Enemies/meteorBrown_big4.png
build/data/Enemies/meteorBrown_med1.png
build/data/Enemies/meteorBrown_med3.png
build/data/Enemies/meteorBrown_small1.png
build/data/Enemies/meteorBrown_small2.png
build/data/Enemies/meteorBrown_tiny1.png
build/data/Enemies/meteorBrown_tiny2.png
build/data/Enemies/meteorGrey_big1.png
build/data/Enemies/meteorGrey_big2.png
build/data/Enemies/meteorGrey_big3.png
build/data/Enemies/meteorGrey_big4.png
build/data/Enemies/meteorGrey_med1.png
build/data/Enemies/meteorGrey_med2.png
build/data/Enemies/meteorGrey_small1.png
build/data/Enemies/meteorGrey_small2.png
build/data/Enemies/meteorGrey_tiny1.png
build/data/Enemies/meteorGrey_tiny2.png
build/data/Enemies/ufoBlue.png
build/data/Fonts/Kenney Rocket.ttf
build/data/Fonts/Kenney Space.ttf
build/data/Particles/meteorBrown_tiny2.png
build/data/Particles/meteorGrey_small2.png
build/data/Particles/meteorGrey_tiny2.png
build/data/Scripts/shotgun.json
build/data/Ships/playerShip1_blue.png
build/data/Ships/playerShip1_green.png
build/data/Ships/playerShip1_orange.png
build/data/Ships/playerShip1_red.png
build/data/Ships/playerShip2_blue.png
build/data/Ships/playerShip2_green.png
build/data/Ships/playerShip2_orange.png
build/data/Ships/playerShip2_red.png
build/data/Ships/playerShip3_blue.png
build/data/Ships/playerShip3_green.png
build/data/Ships/playerShip3_orange.png
build/data/Ships/playerShip3_red.png
build/data/Ships/spaceRockets_001.png
build/data/Ships/spaceRockets_002.png
build/data/Ships/spaceRockets_003.png
build/data/Ships/spaceRockets_004.png
build/data/Ships/ufoBlue.png
build/data/Ships/ufoGreen.png
build/data/Ships/ufoRed - Kopie.png
build/data/Ships/ufoRed.png
build/data/Ships/ufoYellow.png
build/data/UI/arrowBeige_left.png
build/data/UI/arrowBeige_right.png
build/data/UI/arrowBlue_left.png
build/data/UI/arrowBlue_right.png
build/data/UI/arrowBrown_left.png
build/data/UI/arrowBrown_right.png
build/data/UI/arrowSilver_left.png
build/data/UI/arrowSilver_right.png
build/data/UI/buttonLong_beige_pressed.png
build/data/UI/buttonLong_beige.png
build/data/UI/buttonLong_blue_pressed.png
build/data/UI/buttonLong_blue.png
build/data/UI/buttonLong_brown_pressed.png
build/data/UI/buttonLong_brown.png
build/data/UI/buttonLong_grey_pressed.png
build/data/UI/buttonLong_grey.png
build/data/UI/panel_beige.png
build/data/UI/panel_beigeLight.png
build/data/UI/panel_blue.png
build/data/UI/panel_brown.png
build/data/UI/panelInset_beige.png
build/data/UI/panelInset_beigeLight.png
build/data/UI/panelInset_blue.png
build/data/UI/panelInset_brown.png
build/data/Users/default.json
